[global]
error_log = /dev/stdout
log_level = {{getenv "PHP_LOG_LEVEL" "warning"}}

daemonize = no

[www]
user = daspanel
group = daspanel

listen = 0.0.0.0:9000
listen.owner = daspanel
listen.group = daspanel

pm = ondemand
pm.max_children = {{getenv "PHP_MAX_CHILDREN" "75"}}
pm.max_requests = {{getenv "PHP_MAX_REQUESTS" "500"}}
pm.process_idle_timeout = {{getenv "PHP_PROCESS_IDLE_TIMEOUT" "10s"}}

chdir = {{getenv "PHP_CHDIR" ""}}

env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
